[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
startCommand = "gunicorn app:app"

[[services]]
name = "api"

[services.variables]
PORT = "5000"
PYTHONPATH = "/app"